/**
 * CSS file for mapalive project
 */

/** body style */
body {
	background-color:  black;
}


/** map style */
#map {
	position: fixed !important;
	top: 5px;
	right: 5px;
	bottom: 186px;
	left: 5px;
}


/** style of search bar and refresh link */
.refresh {
	margin: 1px;
	width: 120px;
	padding-right: 4px;
	font-size: 18px;
	text-shadow: #000 0px 0px 1px;
}

input {
	width: 98%;
	/*height: 100px; /** TODO enlarge  PROBLEM! can't make it higher*/
}

.search {
	display: flex;
	margin-bottom: -4px;
	/** infowindow hides behind search TODO fix PROBLEM! tried zIndex on infoWindow, didnt manage*/
}

.error {
	color: white;
	position: fixed;
	bottom: 30px;
	right: 50px;

}


/** style for list of locations starting */
.search,
li {
	position: relative;
	z-index: 1;
	color: white;
	font-weight: bolder;
}

li {
	list-style-type: none;
	margin: 8px 0 8px -30px;
	font-size: 18px;
    text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
             #000 0px 0px 1px, #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    width: 1%; /* to prevent it from making the whole lenght clickable */
    white-space: nowrap;
}


/** style for images and image containing scroll area */
.scroll {
	overflow-x: scroll;
	position: absolute;
	width: 99%;
	bottom: 0;
	left: 5px;
	right: 5px;
}

#images {
	white-space: nowrap;
}

img {
	border: 3px solid black;
	margin: 0 -3px -3px;
	height: 164px;
}

/** media querries for smaller screens */
@media only screen and (max-height: 500px) {
  	img {
		height: 120px;
	}

 	#map {
		bottom: 126px;
	}
}

@media only screen and (max-width: 550px) {
  	.refresh {
		width: 150px;
	}
	/* PROBLEM! is there some extra black border around the whole page when viewed in google nexus? Why does this happend and how to fix it.* /
}