/**
 * CSS file for mapalive project
 */

/** body style */
body {
	background-color:  black;
	font-family: Arial, Helvetica, sans-serif;
}


/** map style */
#map {
	position: fixed !important;
	top: 0.313em;
	right: 0.313em;
	bottom: 11.625em;
	left: 0.313em;
}


/** style of activity images search bar and refresh link */
.activity {
	height: 1.5em;
	width: 1.5em;
	padding: 0.1em;
	margin: 0.2em;
	border-radius: 0.2em;
	background-color: white;
	box-shadow: 0px 0px 3px 2px #888;
}

.refresh {
	margin: 0.063em;
	width: 5em;
	padding: 0 0.15em;
	font-size: 1.125em;
	text-shadow: #000 0 0 0.063em;
}

.search-bar,
 input {
	margin: 0.2em;
	width: 99%;
	max-width: 99%;
	border-radius: 1em;
	font-size: 0.9em;
/*	height: 2.250em; /** TODO PROBLEM! enlarge input, can't make it higher*/
}

.autocomplete {
	list-style-type: none;
	margin-left: -2em;
}

.autocomplete,
.options,
.weather {
	display: flex;
	margin-bottom: -0.25em;
	/** infowindow hides behind search TODO PROBLEM! fix, tried zIndex on infoWindow, didnt manage*/
}

.error {
	color: white;
	position: fixed;
	bottom: 1.875em;
	right: 3.125em;
}


/** style for list of locations weather and keyword display */
.options,
.weather,
.location {
	position: relative;
	z-index: 1;
	color: white;
}

.weather,
.location {
	list-style-type: none;
	margin: 0.5em 0 0.5em -1.875em;
	font-size: 1.125em;
    text-shadow: #000 0 0 0.063em, #000 0 0 0.063em, #000 0 0 0.063em,
             #000 0 0 0.063em, #000 0 0 0.063em;
    -webkit-font-smoothing: antialiased;
    width: 1%; /* to prevent it from making the whole lenght clickable */
    white-space: nowrap;
    font-weight: 100;
}

.weather-text {
	font-size: 1.5em;
	font-family: "Arial Narrow";
	margin: 0.35em 0 0 0.2em;
}

.activity,
.location,
.autocomplete {
	cursor: pointer;
}

.autocomplete {
   	flex-wrap: wrap;
   	margin-top: -0.1em;
   	position: absolute;
}

.words {
	margin-right: 0.2em;
	color: #e6ebed;
	text-shadow: #000 0 0 0.063em, #000 0 0 0.063em #000, 0 0 0.063em;
}

/** style for images and image containing scroll area */
.scroll {
	overflow-x: scroll;
	position: fixed;
	width: 99%;
	top: calc(100% - 11.6em);
	left: 0.313em;
	right: 0.313em;
}

#images {
	white-space: nowrap;
}

.location-img {
	border: 0.188em solid black;
	margin: 0 -0.188em -0.188em;
	height: 10.25em;
}


/** users online tracker */

.users-online {
	position: fixed;
	z-index: 1;
	top: calc(100% - 28em);
	right: 6.5em;
	font-size: 0.5em;
	padding: 0.2em 0.5em;
	background-color: green;
	border-radius: 1em;
	color: white;
	text-align: center;
	box-shadow: 0 0 0.25em 0.2em lightgreen;
}

/** media querries for smaller screens */
@media only screen and (max-height: 500px) {
  	.location-img {
		height: 6.250em;
	}

	.scroll {
		top: calc(100% - 6.7em);
	}

	.users-online {
		top: 4em;
		right: 2.6em;
	}

 	#map {
		bottom: 6.7em;
	}

	.weather-img {
		height: 2.7em;
		width: 2.7em;
	}

	.weather {
		margin-top: -0.6em;
		margin-bottom: -0.8em;
	}
}

@media only screen and (max-width: 550px) {
  	.refresh {
  		font-size: 0.8em;
		width: 4.5em;
	}
	/* TODO PROBLEM! is there some extra black border around the whole page when viewed in google nexus? Why does this happend and how to fix it. - bug apparently*/
	.weather,
	.location {
		margin: 0.2em 0 0.2em -1.875em;
	}
}